@font-face {
    font-family: 'BunkenTechSansPro';
    font-style: normal;
    font-weight: normal;
    // src: url(https://github.com/JosManMx/PLC-mail/blob/master/src/assets/fonts/TTF/BunkenTechSansProWide-Med.otf?raw=true) format('truetype');
    src: url(assets/fonts/BunkenTechSansSCWide-Med.woff) format('woff');
  }